<div class="cover">
  <img src="assets/people_dancing.jpeg" alt="Copertina con gente che balla" class="img-responsive">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 margin-y">
      <h2 class="text-uppercase">Eventi</h2>
    </div>
  </div>
  <hr>
  <ng-container *ngIf="actions.length > 0; else no_record_found">
    <ng-container *ngFor="let item of actions; let last = last">
      <div class="row margin-tb">
        <div class="col-md-7">
          <img src="assets/people-eiffel-tower-lights-night.jpg" class="img-responsive img-event center-block">
        </div>
        <div class="col-md-5">
          <h2 class="event-name" (click)="goToEvent(item)">{{ item.name }}</h2>
          <p class="address">{{ item.placeAddress }}</p>
          <p class="address">{{ item.when | toDate | date:'dd MMM \'yy' }}, 19.00 - 20.00</p>
          <p>{{ item.description }}</p>
          <span class="event-status" [ngSwitch]="item.status">
            <ng-container *ngSwitchCase="'ACCEPTED'">Offerta accettata</ng-container>
            <ng-container *ngSwitchCase="'NOT_ACCEPTED'">Offerta non accettata</ng-container>
            <ng-container *ngSwitchCase="'PAID'">Pagamento effettuato</ng-container>
            <ng-container *ngSwitchCase="'NOT_PAID'">Pagamento non effettuato</ng-container>
            <ng-container *ngSwitchCase="'OFFER_REFUNDED'">Richiesto rimborso</ng-container>
          </span>
          <span *ngIf="item.feedbackLeft" class="event-status">Feedback lasciato</span>
          <hr>
          <div class="btn-group pull-right" role="group">
            <button class="btn btn-success btn-outline" routerLink="/messages/{{item.messageGroup}}">Vai ai messaggi</button>
            <button *ngIf="!(item.feedbackLeft) && (todayDate >= item.when) && item.status==='PAID'" class="btn btn-success btn-outline" (click)="openModal(item)">Lascia feedback</button>
            <button *ngIf="(todayDate < item.when) && item.status==='NOT_PAID'" class="btn btn-success btn-outline" (click)="openPayPalModal(item)">Paga</button>
            <button class="btn btn-danger btn-outline">Annulla</button>
          </div>
        </div>
      </div>
      <hr *ngIf="!last">
    </ng-container>
  </ng-container>
  <ng-template #no_record_found>
    Nessun elemento trovato
  </ng-template>
</div>

<bs-modal #feedbackModal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">
      <span>Lascia un feedback</span>
    </h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #f1="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>Testo</label>
          <textarea name="feedText" rows="5" [(ngModel)]="feedbackItem.text" required class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>Voto</label>
          <rating name="feedValue" [(ngModel)]="feedbackItem.value" [required]="true" [titles]="['Assolutamente non soddisfatto', 'Poco soddisfatto', 'Soddisfatto', 'Molto soddisfatto', 'Eccellente']"></rating>
        </div>
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="feedbackModal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="saveFeedback()" [disabled]="f1.invalid">Salva feedback</button>
  </bs-modal-footer>
</bs-modal>

<bs-modal #paypalModal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">
      <span>Lascia un feedback</span>
    </h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="row">
      <div class="col-sm-12 form-group">
        <p>
          Premendo il pulsante sotto, verrai reindirizzato sul sito di PayPal, che ti chiederà
          di effettuare il pagamento. Una volta effettuato, verrai reinderizzato su questa pagina.
        </p>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="paypalModal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="approve()">Mandami su PayPal</button>
  </bs-modal-footer>
</bs-modal>

<div class="overlay" *ngIf="redirectingToPaypal">
  <app-loading-display style="display: table; height: 100%; width: 100%"></app-loading-display>
</div>