.cover {
    position: relative;
    top: -20px
}

.cover img {
    margin: 0px;
    max-width: 100%;
    height: auto;
    max-height: 30%;
}
.margin-tb {
    margin: 3em auto;
}
.event-status {
    color: #d43f3a;
    background-color: transparent;
    padding: 6px 12px;
    border: 1px solid #d43f3a;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}
.img-event {
    max-height: 380px;   
}
.event-name {
    color: rgb(95, 95, 95);
    cursor: pointer;
}
.address {
    color: rgb(158, 158, 158);
    font-size: 1.3em;
}
.event-name, .address {
    margin-top: 0px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
  }
  