
<!-- SIGN IN POPUP -->
<app-login *ngIf="!_userRepo.isConnected"></app-login>
<!-- /SIGN IN POPUP -->

<!-- MOBILE MENU -->
<div class="directify_fn_mobile_menu_wrap absolute" data-bg-type="translight">
  
  <div class="directify_fn_mobile_menu">
    <div class="mobile_logo">
      <a class="dark" href="index.html"><img src="assets/img/logo-dark.png" alt="" /></a>
      <a class="light" href="index.html"><img src="assets/img/logo-light.png" alt="" /></a>
    </div>
    <div class="mobile_search">
      <a href="#">
        <img class="svg" src="assets/img/svg/search.svg" alt="" />
        Search
      </a>
    </div>
    <div class="hamburger hamburger--collapse-r">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <div class="s-search">
      <a href="#">
        <img class="svg" src="assets/img/svg/search.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="directify_fn_mobile_nav">
    <ul class="nav">
      <li class="log-in" *ngIf="!_userRepo.isConnected; else logged">
        <a href="#">Log In</a>
      </li>
    </ul>
  </div>
  
  <div class="mobile_search_see one">
    <div class="selects">
      <div>
        <input class="directify_fn_search_input" type="search" placeholder="What Are You Looking For?" />
      </div>
      <div>
        <select class="directify_fn_select">
          <option value="all">All Listings</option>
          <option value="restaurant">Restaurants</option>
          <option value="hotel">Hotels</option>
          <option value="shopping">Shopping</option>
          <option value="gallery">Gallery</option>
          <option value="park">Park</option>
          <option value="movie">Movie</option>
          <option value="service">Services</option>
          <option value="theatre">Theatres</option>
          <option value="hospital">Hospitals</option>
        </select>	
      </div>
      <div>
        <input type="text" id="select-location" placeholder="Location" />
        <img class="svg" src="assets/img/svg/gps-fixed-indicator.svg" alt="" />
      </div>
    </div>
    <a href="#"><img class="svg" src="assets/img/svg/search.svg" alt="" /><span>Search</span></a>
  </div>
  
</div>
<!-- /MOBILE MENU -->

<!-- HEADER -->
<header class="directify_fn_header_wrap absolute" data-bg-type="translight">
  <div>
    <div class="directify_fn_header">
      <div class="header">
        <div class="directify_fn_header_logo">
          <a class="dark" href="index.html"><img src="assets/img/logo-dark.png" alt="" /></a>
          <a class="light" href="index.html"><img src="assets/img/logo-light.png" alt="" /></a>
        </div>
        <div class="directify_fn_header_search">
          <a href="#">
            <img class="svg" src="assets/img/svg/search.svg" alt="" />
            Search
          </a>
          <div class="directify_fn_header_search_see_wrap one">
            <div class="header_search_see">
              <div class="selects">
                <div>
                  <input class="directify_fn_search_input" type="search" placeholder="What Are You Looking For?" />
                </div>
                <div>
                  <select class="directify_fn_select">
                    <option value="all">All Listings</option>
                    <option value="restaurant">Restaurants</option>
                    <option value="hotel">Hotels</option>
                    <option value="shopping">Shopping</option>
                    <option value="gallery">Gallery</option>
                    <option value="park">Park</option>
                    <option value="movie">Movie</option>
                    <option value="service">Services</option>
                    <option value="theatre">Theatres</option>
                    <option value="hospital">Hospitals</option>
                  </select>	
                </div>
                <div>
                  <input type="text" id="select-location-1" placeholder="Location" />
                  <img class="svg" src="assets/img/svg/gps-fixed-indicator.svg" alt="" />
                </div>
              </div>
              <a href="#"><img class="svg" src="assets/img/svg/search.svg" alt="" /><span>Search</span></a>
            </div>
          </div>
        </div>
        <div class="directify_fn_header_nav_list">
          <ul class="nav__hor">
            <li class="log-in" *ngIf="!_userRepo.isConnected; else logged">
              <a href="#">Log In</a>
            </li>
            <ng-template #logged>
              <li>
                <a href="#">{{ _userRepo.connecterUser }}<i class="xcon-angle-down"></i></a>
                <ul class="sub_menu">
                  <li><a routerLink="/profile" alt="Modifica il tuo profilo"><i class="fa fa-address-card-o" aria-hidden="true"></i> I tuoi dati</a></li>
                  <li><a routerLink="/messages" alt="Visualizza i messaggi"><i class="fa fa-envelope-o" aria-hidden="true"></i> Messaggi</a></li>
                  <li><a routerLink="/actions" alt="Azioni da compiere"><i class="fa fa-cogs" aria-hidden="true"></i> Azioni</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink="/logout" alt="Disconnettiti"><i class="fa fa-sign-out" aria-hidden="true"></i> Disconnettiti</a></li>
                </ul>
              </li>
            </ng-template>
          </ul>
        </div>	
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->