<carousel>
  <slide>
    <img src="assets/people-eiffel-tower-lights-night.jpg" alt="First slide">
  </slide>
  <slide>
    <img src="assets/pexels-photo-173523.jpg" alt="Third slide">
  </slide>
</carousel>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ eventInfo?.eventName }}</h1>
        <h2>{{ eventInfo?.placeName }}</h2>
        <h3>{{ (eventInfo && eventInfo.date) ? (eventInfo.date | toDate | date:'dd/MM/yyyy HH:mm') : '' }}</h3>
        <p>
          {{ eventInfo?.description }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="mapsUrl">
        <iframe width="100%" height="450" frameborder="0" style="border:0" [src]="mapsUrl" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
