<div class="directify_fn_all_listings_wrap index10 index30">
  <div class="directify_fn_all_listings_bg">
    <div class="overlay_color"></div>
    <div class="overlay_image"></div>
  </div>
  <div class="directify_fn_all_listings">
    <div class="all_listings">
      <div class="container">
        <div class="listings_wrap">
          <div class="discovering_wrap">
            <div class="discovering">
              <div class="title_holder">
                <h3>Discover the Best Places</h3>
                <span>Directify helps you find all top locations</span>
              </div>
              <div class="searching">
                <input class="directify_fn_search_input" type="search" placeholder="What Are You Looking For?" />
                <a class="directify_fn_search_btn" href="#"><img class="svg" src="assets/img/svg/search.svg" alt="" /><span>Search</span></a>
              </div>
              <div class="cat_single_wrap" data-hover-text="#fff" data-hover-bg="" data-hover-border="rgba(255,255,255,1)" data-skew="6" data-text-color="#fff" data-bg-color="" data-bg-opacity="" data-border-width="1" data-border-color="rgba(255,255,255,0.64)">
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/restaurant.svg" alt="" />
                      <span class="cat_title">Restaurants</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/hotel.svg" alt="" />
                      <span class="cat_title">Hotels</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/shopping.svg" alt="" />
                      <span class="cat_title">Shopping</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/gallery.svg" alt="" />
                      <span class="cat_title">Gallery</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/park.svg" alt="" />
                      <span class="cat_title">Park</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/movie.svg" alt="" />
                      <span class="cat_title">Movie</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/service.svg" alt="" />
                      <span class="cat_title">Services</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/theatre.svg" alt="" />
                      <span class="cat_title">Theatres</span>
                    </a>
                  </div>
                </div>
                <div class="cat_single">
                  <div class="cat_single_bg">
                    <div class="overlay_color"></div>
                  </div>
                  <div class="cat_single_content">
                    <a href="#">
                      <img class="svg" src="assets/img/svg/hospital.svg" alt="" />
                      <span class="cat_title">Hospitals</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <!-- #1 item -->
              <div class="fdbox">
                <div class="featured_box_wrap">
                  <div class="featured_box">
                    <div class="featured_box_img">
                      <img src="assets/img/featured_listing/list1-l.jpg" alt="" />
                    </div>
                    <div class="featured_box_price">
                      <span class="text">$44</span>
                      <span class="after"></span>
                    </div>
                    <div class="featured_box_info_wrap">
                      <div class="featured_box_info">
                        <div class="featured_box_like">
                          <a href="#">
                            <img class="svg" src="assets/img/svg/bookmark.svg" alt="" />
                          </a>
                          <div class="featured_box_tooltip">
                            <span>Bookmark</span>
                          </div>
                        </div>
                        <div class="featured_box_title">
                          <h3><a href="#">Casablanca Hotel</a></h3>
                        </div>
                        <div class="directify_fn_rating" data-rating="4.2">
                          <div class="behind">
                            <img class="svg" src="assets/img/svg/review.svg" alt="" />
                          </div>
                          <div class="up">
                            <img class="svg" src="assets/img/svg/review.svg" alt="" />
                          </div>
                          <div class="featured_box_preview">
                            <a href="#"><span>Preview</span></a>
                          </div>
                        </div>
                        <div class="featured_box_address">
                          <img class="svg" src="assets/img/svg/placeholder.svg" alt="" />
                          <span>147 W 43rd St New York, NY 10036</span>
                        </div>
                        <div class="featured_box_author_img">
                          <div class="author_img">
                            <img src="assets/img/featured_listing/author1.jpg" alt="" />
                            <img class="svg" src="assets/img/svg/checked.svg" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /#1 item -->
                
                <!-- #2 item -->
                <div class="featured_box_wrap">
                  <div class="featured_box">
                    <div class="featured_box_img">
                      <img src="assets/img/featured_listing/list2-l.jpg" alt="" />
                    </div>
                    <div class="featured_box_price">
                      <span class="text">$15</span>
                      <span class="after"></span>
                    </div>
                    <div class="featured_box_info_wrap">
                      <div class="featured_box_info">
                        <div class="featured_box_like">
                          <a href="#">
                            <img class="svg" src="assets/img/svg/bookmark.svg" alt="" />
                          </a>
                          <div class="featured_box_tooltip">
                            <span>Bookmark</span>
                          </div>
                        </div>
                        <div class="featured_box_title">
                          <h3><a href="#">The Lombardy</a></h3>
                        </div>
                        <div class="directify_fn_rating" data-rating="4.9">
                          <div class="behind">
                            <img class="svg" src="assets/img/svg/review.svg" alt="" />
                          </div>
                          <div class="up">
                            <img class="svg" src="assets/img/svg/review.svg" alt="" />
                          </div>
                          <div class="featured_box_preview">
                            <a href="#"><span>Preview</span></a>
                          </div>
                        </div>
                        <div class="featured_box_address">
                          <img class="svg" src="assets/img/svg/placeholder.svg" alt="" />
                          <span>111 E 56th St New York, NY 10022</span>
                        </div>
                        <div class="featured_box_author_img">
                          <div class="author_img">
                            <img src="assets/img/featured_listing/author2.jpg" alt="" />
                            <img class="svg" src="assets/img/svg/checked.svg" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /#2 item -->
                
                <!-- #3 item -->
                <div class="featured_box_wrap">
                  <div class="featured_box">
                    <div class="featured_box_img">
                      <img src="assets/img/featured_listing/list3-l.jpg" alt="" />
                    </div>
                    <div class="featured_box_price">
                      <span class="text">$37</span>
                      <span class="after"></span>
                    </div>
                    <div class="featured_box_info_wrap">
                      <div class="featured_box_info">
                        <div class="featured_box_like">
                          <a href="#">
                            <img class="svg" src="assets/img/svg/bookmark.svg" alt="" />
                          </a>
                          <div class="featured_box_tooltip">
                            <span>Bookmark</span>
                          </div>
                        </div>
                        <div class="featured_box_title">
                          <h3><a href="#">Rock Star Crystals</a></h3>
                        </div>
                        <div class="directify_fn_rating" data-rating="5">
                          <div class="behind">
                            <img class="svg" src="assets/img/svg/review.svg" alt="" />
                          </div>
                          <div class="up">
                            <img class="svg" src="assets/img/svg/review.svg" alt="" />
                          </div>
                          <div class="featured_box_preview">
                            <a href="#"><span>Preview</span></a>
                          </div>
                        </div>
                        <div class="featured_box_address">
                          <img class="svg" src="assets/img/svg/placeholder.svg" alt="" />
                          <span>146 W 26th St New York, NY 10001</span>
                        </div>
                        <div class="featured_box_author_img">
                          <div class="author_img">
                            <img src="assets/img/featured_listing/author3.jpg" alt="" />
                            <img class="svg" src="assets/img/svg/checked.svg" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /#3 item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- HOW IT WORK -->
<div class="directify_fn_workstep_wrap">
  <div class="directify_fn_workstep">
    <div class="workstep_wrap">
      <div class="container">
        <div class="workstep">
          <div class="title_holder">
            <h3>How It Works</h3>
            <span class="title">Let the Directify direct you toward to top places</span>
            <span class="line"></span>
          </div>
          <div class="steps">
            <div class="step_single_wrap">
              <div class="step_single">
                <div class="number">
                  <span class="text">01</span>
                  <span class="after"></span>
                </div>
                <div class="title_holder">
                  <h3>Choose What To Do</h3>
                  <span>Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping?</span>
                </div>
              </div>
            </div>
            <div class="step_single_wrap">
              <div class="step_single">
                <div class="number">
                  <span class="text">02</span>
                  <span class="after"></span>
                </div>
                <div class="title_holder">
                  <h3>Find the Best Locations </h3>
                  <span>Search and filter hundreds of listings, read reviews, explore photos and find the perfect spot.</span>
                </div>
              </div>
            </div>
            <div class="step_single_wrap">
              <div class="step_single">
                <div class="number">
                  <span class="text">03</span>
                  <span class="after"></span>
                </div>
                <div class="title_holder">
                  <h3>Go and Have Fun</h3>
                  <span>Go and have a good time or even make a booking directly from the listing page. Sed do eiusmod tempor </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /HOW IT WORK -->