<carousel>
  <slide>
    <img src="assets/people-eiffel-tower-lights-night.jpg" alt="First slide">
    <ng-template *ngTemplateOutlet="user_info"></ng-template>
  </slide>
  <!-- <slide>
  <img src="assets/pexels-photo-173523.jpg" alt="Third slide">
  <ng-template *ngTemplateOutlet="user_info"></ng-template>
</slide> -->
</carousel>

<ng-template #user_info>
  <div class="carousel-caption">
    <h3>{{ profile.name }}</h3>
    <h4>{{ profile.description }}</h4>
    <p><i class="fa fa-phone" aria-hidden="true"></i> {{ profile.phone }}<span class="seperate-h"></span><!-- {% TODO if utente.tipo is constant('AppBundle\\Entity\\UserType::GRUPPO')  %} --><i class="fa fa-usd" aria-hidden="true"></i> {{ priceBand }} €</p>

    <!-- {% TODO if feedback.voto is not null %} -->
    <p class="feedP">
      <rating [(ngModel)]="profile.feedbackValue" [readonly]="true"
      [titles]="['Assolutamente non soddisfatto', 'Poco soddisfatto', 'Soddisfatto', 'Molto soddisfatto', 'Eccellente']"></rating>
      <span>&nbsp;({{profile.feedbackCount}})</span>
    </p>

    <!-- TODO if feedback rilasciabile  -->
    <button type="button" class="btn btn-success btn-outline btn-engage" (click)="feedbackModal.open()">Lascia feedback</button>
    <!-- {% TODO if ingaggiabile == true %} -->
    <button type="button" class="btn btn-success btn-outline btn-engage" (click)="modal.open()">Ingaggia</button>
  </div>
</ng-template>

<!--Eventi-->
<div class="section margin-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="/assets/booking.jpg" class="img-responsive">
      </div>
      <div class="col-md-4">
        <ul class="media-list text-left">
          <ng-container *ngFor="let evento of [{giorno: '11', mese: 'JAN', nome: 'Nome evento', descrizione: 'Una descrizione' }]">
            <li class="media">
              <div class="media-left media-middle">
                <a class="link-event-date">
                  <div class="media-object event-date">
                    <div class="event-day">
                      {{ evento.giorno }}
                    </div>
                    <div class="event-month">
                      {{ evento.mese }}
                    </div>
                  </div>
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading">{{ evento.nome }}</h4>
                <p>{{ evento.descrizione }}</p>
                <div class="col-md-12 text-right">
                  <a class="btn btn-danger">Vedi <i class="fa fa-fw fa-angle-double-right"></i></a>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Fine Eventi-->

<div class="section margin-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-xs-12" *ngIf="profile.youtube">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="youtubeVideoUrl" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-12" [ngClass]="{'col-sm-3': profile.youtube, 'col-sm-12': !profile.youtube}">
        <app-ng2-audio-player [playList]="playlist"></app-ng2-audio-player>
      </div>
    </div>
  </div>
</div>

<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">
      <span>Richiedi informazioni</span>
    </h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #f="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>Testo</label>
          <textarea name="text" rows="8" [(ngModel)]="communication.text" required class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label>Data prevista per l'evento</label>
          <input type="text" class="form-control" bsDatepicker [(ngModel)]="communication.date" name="eventDate"/>
        </div>
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="sendMessage()" [disabled]="f.invalid">Carica</button>
  </bs-modal-footer>
</bs-modal>

<bs-modal #feedbackModal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">
      <span>Lascia un feedback</span>
    </h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #f1="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>Testo</label>
          <textarea name="feedText" rows="5" [(ngModel)]="feedbackItem.text" required class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>Voto</label>
          <rating name="feedValue" [(ngModel)]="feedbackItem.value" [required]="true" [titles]="['Assolutamente non soddisfatto', 'Poco soddisfatto', 'Soddisfatto', 'Molto soddisfatto', 'Eccellente']"></rating>
        </div>
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="saveFeedback()" [disabled]="f1.invalid">Salva feedback</button>
  </bs-modal-footer>
</bs-modal>
