<div class="directify_fn_sign_in">
    <div class="directify_fn_sign_in_content">
      <div class="aaa">
        <div class="sign_in_box effect-1">
          <div class="sign_in_box_content">
            <div class="closer">
              <a href="#"><i class="xcon-cancel"></i></a>
            </div>
            <h3>Sign In</h3>
            <form #f="ngForm">
                <input type="text" name="username" placeholder="Your Login" [(ngModel)]="username" email required />
                <input type="password" name="password" placeholder="Your Password" [(ngModel)]="password" required />
                <input type="button" (click)="login()" [disabled]="f.invalid" value="Continue" />
            </form>
            <p>Se ancora non sei iscritto, clicca qui per <a routerLink="/register">registrarti</a></p>
          </div>
        </div>
        <div class="directify_fn_sign_in_closer"></div>
      </div>
    </div>
  </div>
