<div class="container">
  <div class="section">
    <h1>Modifica i tuoi dati</h1>
    <a href="#">Vedi come viene visualizzato il tuo profilo</a>
    <form #f="ngForm" novalidate>
      <h2>Dati generali</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group col-sm-12">
            <label>Nome</label>
            <input type="text" name="name" class="form-control" required [(ngModel)]="user.name">
          </div>
          <div class="form-group  col-sm-12">
            <label>Descrizione</label>
            <textarea name="description" type="text" name="description" class="form-control" required [(ngModel)]="user.description"></textarea>
          </div>
          <div class="form-group col-sm-12">
            <label>Telefono</label>
            <input type="text" name="telefono" class="form-control" required [(ngModel)]="user.phone">
          </div>
          <div class="form-group col-sm-12">
            <label>Email</label>
            <input type="text" name="email" class="form-control" required [(ngModel)]="user.email" email>
          </div>
          <div class="form-group col-sm-12">
            <label>Paypal</label>
            <input type="text" name="paypal" class="form-control" required [(ngModel)]="user.paypal">
          </div>
          <div class="form-group col-sm-12">
            <label>Tariffa</label>
            <select class="form-control" name="price" required [(ngModel)]="user.price">
              <option value="">Seleziona</option>
              <option *ngFor="let item of domains" value="{{item.code}}">{{item.text}}</option>
            </select>
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <label>Indirizzo</label>
            <input type="text" name="indirizzo" class="form-control" required [(ngModel)]="user.address">
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <label>Citta</label>
            <input type="text" name="citta" class="form-control" required [(ngModel)]="user.city">
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <label>CAP</label>
            <input type="text" name="cap" class="form-control" required [(ngModel)]="user.zipCode">
          </div>
          <div class="form-group col-sm-12">
            <label>Link Youtube</label>
            <input type="text" name="youtube" class="form-control" required [(ngModel)]="user.youtube">
          </div>
          <div class="form-group col-sm-12">
            <button type="button" name="registerAction" class="btn btn-default" (click)="editProfile()" [disabled]="f.invalid">Salva i dati di base</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="section">
    <h2>La tua musica</h2>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <table class="table table-striped table-bordered text-center">
            <thead>
              <tr>
                <th class="text-center col-xs-1">#</th>
                <th class="text-center col-xs-9">Nome</th>
                <th class="text-center col-xs-1">Durata</th>
                <th class="text-center col-xs-1">Operazioni</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="tracks.length > 0; else noTracks">
                <tr *ngFor="let item of tracks; let index = index">
                  <td>{{ index }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ getTime(item.size) }}</td>
                  <td><a (click)="deleteMedia(item.id, false)" role="button"><i class="fa fa-trash-o icon-button" aria-hidden="true"></i></a></td>
                </tr>
              </ng-container>
              <ng-template #noTracks>
                <tr><td colspan="4">Non hai caricato ancora nessuna traccia musicale</td></tr>
              </ng-template>
            </tbody>
          </table>
          <div class="form-group">
            <button type="button" class="btn btn-default" (click)="addImage=false; modal.open()">Aggiungi una traccia</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <h2>Le tue immagini</h2>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-4" *ngFor="let item of images">
            <div class="thumbnail">
              <img src="https://www.w3schools.com/w3images/lights.jpg" style="width:100%">
              <div class="caption text-right">
                <a (click)="deleteMedia(item.id, true)" role="button"><i class="fa fa-trash-o icon-button" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" (click)="addImage=true; modal.open()">Aggiungi un'immagine</button>
        </div>
      </div>
    </div>
  </div>
</div>

<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">
      <span *ngIf="addImage===false">Aggiungi una traccia</span>
      <span *ngIf="addImage===true">Aggiungi un'immagine</span>
    </h4>
  </bs-modal-header>
  <bs-modal-body>
    <form #uploadForm="ngForm" novalidate>
      <div class="row" *ngIf="addImage===false">
        <div class="col-sm-12 form-group">
          <label>Titolo</label>
          <input type="text" name="title" required class="form-control" [(ngModel)]="mediaContainer.title">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="media-upload" class="custom-file-upload" (click)="filemedia.value=null">
            <ng-container *ngIf="addImage===false">
              <i class="fa fa-music"></i> Seleziona una traccia
            </ng-container>
            <ng-container *ngIf="addImage===true">
              <i class="fa fa-picture-o"></i> Seleziona un'immagine
            </ng-container>
          </label>
          <input name="media" #filemedia id="media-upload" type="file" (change)="selectMedia($event)" [accept]="addImage ? 'image/*' : 'audio/*'"/>
        </div>
        <div class="col-sm-6 form-group">
          <label style="padding: 7px 12px;font-weight: normal">{{ fileName }}</label>
        </div>
      </div>
    </form>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="saveMedia()" [disabled]="uploadForm.invalid || fileNotSelected">Carica</button>
  </bs-modal-footer>
</bs-modal>
