.thumbnail {
  position: relative;
  padding: 0px;
}
.thumbnail-footer {
  background-color: #93d1ff;
  padding: 10px;
  text-align: center;
}
.thumbnail-link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
.message-unread {
  position: absolute;
  top: -7px;
  right: -9px;
  background-color: #d9534f !important;
}
